/* 复合选择器：由两个或以上的基础选择器组合而成 */
/* 后代选择器：父选择器 子选择器 */
div p1 {  /* 应用至div标签下的所有p1标签及其所有子标签 */
  color: red;
}
/* 子代选择器：父选择器 > 子选择器 */
div > p2 {  /* 应用至div标签下的所有p1标签，不包括其子标签 */
  color: green;
}
/* 并集选择器：选择器1, 选择器2, 选择器3, ... */
p3, 
p4, 
p5 {  /* 应用至所有p1标签、p2标签、p3标签等多个指定标签 */
  color: blue;
}
/* 交集选择器：选择器1选择器2选择器3 + ... */
p6.p7#p8 {  /* 应用至同时满足所有基本选择器条件的所有标签，标签选择器应置于首位 */
  color: orange;
}
/* 伪类选择器：选择器:伪类 */
/* 伪类用于表示标签状态等 */
p9:hover {  /* 应用至所有p9标签：当鼠标悬停在该标签上时 */
  color: gold;
}
#p10:link {  /* 当该标签未被访问过时 */
  color: gold;
}
#p11:active {  /* 当鼠标点击该标签时 */
  color: gold;
}
#p12:visited {  /* 当该标签已被访问过时 */
  color: gold;
} /* 以上为超链接伪类 */
.Hyperlink-Pseudo {
  color: black;
  text-decoration: none;
}